include ./../../layouts/section.pug

- 
  const disData = [
    {
      title: 'Legal Disclaimer',
      text: [
        'InfraDrone, LLC dba InfraLytiks, its affiliated and subsidiary companies, including subsidiaries of affiliated companies, an Iowa Limited Liability Company, ("InfraDrone") makes available information and materials (“Information”) on www.infralytiks.com, subject to the <a class="bold-line" href="./terms.html"> Terms of Use</a> and this <a class="bold-line" href="./disclaimer.html"> Disclaimer</a>.  If you disagree, please do not access this Website or any other InfraDrone Products. InfraDrone Products ("InfraDrone Products") includes but is not limited to products created and/or owned by InfraDrone such as this Website, a Client Login Portal, phone applications, web applications, or other software.  We reserve the right to modify the <a class="bold-line" href="./terms.html"> Terms  of Use </a> and/or <a class="bold-line" href="./disclaimer.html"> Disclaimer</a> from time to time without notice and at our sole discretion by posting amended <a class="bold-line" href="./terms.html"> Terms of Use</a> and <a class="bold-line" href="./disclaimer.html"> Disclaimer</a> on this Website.  By using InfraDrone Product after the amendments have been posted, you agree to accept those amendments, whether or not you have reviewed the amendments.'
      ]
    },
    {
      title: 'Intellectual Property',
      text: [
        'Except as specifically permitted herein, no portion of the information on InfraDrone Products may be reproduced in any form or by any means without the prior written authorization and consent from InfraDrone.  InfraDrone, and other InfraDrone graphics, logos, and service names are trademarks of InfraDrone.  Except as specifically permitted herein, these trademarks may not be used without the prior written authorization and consent of InfraDrone.  All other trademarks not owned by InfraDrone that appear on InfraDrone Products are the property of their respective owners, who may or may not be affiliated with or connected to InfraDrone.',
        'By using InfraDrone Products, you agree the propriety systems, designs, contents and Information depicted on InfraDrone Products are the sole and exclusive personal and intellectual property of InfraDrone, and that you will not take any action, directly or indirectly, to cause unauthorized use or dissemination of proprietary data, data systems, content, or Information, including reverse engineering of proprietary algorithms or other software created, and used by, InfraDrone.<br>InfraDrone, LLC dba InfraLytiks.  2019.  All rights reserved.',

      ]
    },
    {
      title: 'Use Of InfraDrone Products Information',
      text: [
        'Subject to the terms and conditions set forth in the <a class="bold-line" href="./terms.html"> Terms of Use </a> and this <a class="bold-line" href="./disclaimer.html"> Disclaimer</a>, InfraDrone grants you a non-transferable, non-exclusive, restricted and limited right to access, use and display InfraDrone Products along with the contents.  You agree and acknowledge that you will not interrupt or attempt to interrupt the functioning of InfraDrone Products in any manner, and shall use and access InfraDrone Products solely with the terms and conditions stated in the <a class="bold-line" href="./terms.html"> Terms of Use</a> and this <a class="bold-line" href="./disclaimer.html"> Disclaimer.</a>',
        'Excepts as otherwise indicated elsewhere on this Website, you may view, copy, print and download information available on InfraDrone Products subject to the following conditions:The Information may be used solely for personal and informational purposesThe Information may not be modified or altered in any way',
        'Any copy of the Information or portion thereof must include the copyright notice and this permission notice. You must contribute all content taken by you from InfraDrone Products to InfraDrone.',
        'The Information shall not be disclosed to any other person or entity unless they are given notice of, and they agree to accept, the obligations arising under this <a class="bold-line" href="./disclaimer.html"> Disclaimer</a> and <a class="bold-line" href="./terms.html"> Terms of Use</a>.You shall also agree to abide by all additional restrictions displayed on this Website and as may be updated from time to time',
        'InfraDrone reserves the right to revoke such authorization at any time, and any such use shall be discontinued immediately upon written notice from InfraDrone You agree to comply with all copyright and other intellectual property laws worldwide in your use of InfraDrone Products and to prevent any unauthorized copying of the Information By sharing any contribution, including any text, photograph, graphic, video or audio, with InfraDrone or InfraDrone Products, you agree to grant InfraDrone permission to use the material in any manner InfraDrone may desire, without cost to InfraDrone. In order that InfraDrone may use your contribution, you confirm that your contribution is your own original work, is not defamatory, and does not infringe upon any relevant laws, and that you have the right to give InfraDrone permission to use it for the purposes specified above ',

      ],
    },
    {
      title: 'Links To Third Party Websites',
      text: [
        'This Website may contain, or in the future contain, links to third party website, which are not under the Control of InfraDrone.  InfraDrone has no responsibility or liability for, nor makes any representations whatsoever about any other website that you may have access to through this Website.  Any linked sites are for your convenience only, and as such, you access them at your own risk.  The inclusion of any links does not imply that InfraDrone endorses or accepts any responsibility for the content or uses of such websites.',
      ],
    },
    {
      title: 'Indemnificatioon',
      text: [
        'By accepting this <a class="bold-line" href="./disclaimer.html"> Disclaimer</a>, you agree to indemnify, defend and otherwise hold harmless InfraDrone, its officers, employees, agents, investors, and affiliates and other partners for any direct, indirect, special, exemplary, punitive or consequential damages resulting from your use of InfraDrone Products and/or your breach of the <a class="bold-line" href="./terms.html"> Terms of Use </a> and this <a class="bold-line" href="./disclaimer.html"> Disclaimer </a> and the policies they incorporate by reference.'
      ]
    },
    {
      title: 'Warranties And Disclaimers',
      text: [
        'InfraDrone does not warrant the Information on InfraDrone Products, which is provided “As Is” without warranty of any kind, including without limitation, any warranty of design, merchantability, or fitness for a particular purpose, and without warranty as to non-infringement or the performance or results you may obtain by using the Information.  InfraDrone does not assume responsibility for any errors or omissions in the Information which is referenced by or linked to InfraDrone Products.',
        `InfraDrone makes no warranty that:
         <ul class='list list_dark'>  
          <li class=list__item> InfraDrone Products will meet your requirements. </li>
          <li class=list__item> The content and material on InfraDrone Products will be uninterrupted or error free. </li>
          <li class=list__item> The results that may be obtained from use of InfraDrone Products will be accurate or reliable. </li>
          <li class=list__item> The quality of any content and material or other information obtained by you through InfraDrone Products will meet you expectations. </li>
          <li class=list__item> Any errors in InfraDrone Products will be corrected. </li>
         </ul>
        `,
        'InfraDrone, LLC dba InfraLytiks makes documents available on an “as is” basis. All warranties and representations of any kind with regard to documents are disclaimed, including implied warranties of merchantability and fitness for a particular use. InfraDrone, LLC does not warrant the documents against deficiencies of any kind. AutoCad files are converted as a service to our customers, however, no attempt has been made to ensure that there were no errors in the conversion process. The receiver agrees that InfraDrone, LLC cannot be held responsible for problems in accuracy, content, format, or display arising from files that have been converted. Since revisions or additions to the design file standards may occur at any time, the receiver agrees to hold harmless, and if necessary, defend and indemnify InfraDrone, LLC, its officers, agents, investors, and employees, from the use and reliance upon outdated design file standards, all of which shall survive acceptance of design files, in any format, by the receive',
        'Any material downloaded or otherwise obtained through the use of InfraDrone Products is done at your own risk and discretion, and you shall be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.',
        'No advice or information, whether oral or written, obtained by you from InfraDrone or through InfraDrone Products shall create any warranty not expressly stated in this Disclaimer.',
        'References to companies and information about them and their services and products are provided “As Is” without warranty of any kind, either expressly or implied.  In no event shall InfraDrone be liable to you or any third party for any direct, indirect, special, exemplary, punitive or consequential damages, including loss of business, lost profits, business interruption, loss of business information or pecuniary loss, arising out of, or in connection with, or relating to the use or performance of the information referenced by or linked to InfraDrone Products, even if InfraDrone has been advised of the possibility of such damages. ',
        'InfraDrone Products and the Information contained therein could include technical or other inaccuracies or typographical errors.  InfraDrone periodically changes the Information herein, which will be incorporated into additions to InfraDrone Products.  InfraDrone may make changes or amendments to the Information described in InfraDrone Products at any time without prior notice.',

      ]
    }
  ]

+section({ title: 'disclaimer', className: 'article-column' })
  .article-column__wrapper
    each item in disData 
      .article-column__item
        .article-column__item__title
          .title_dark.title!=item.title

        .article-column__item__content
          .article-column__item__text
            each i in item.text
              p!=i

          - if (item.img)
            .article-column__item__image
              img(src=item.img)