include ./../../layouts/section.pug

-  
  const processingData = [
    {
      icon: 'icon-camera_icon',
      title: 'Data Collection',
      list: [
        'Multiple Vehicle Based Data Collection',
        'Multi-tiered Data Collection'
      ]
    },
    {
      icon: 'icon-camera_icon',
      title: 'Data Analytics',
      list: [
        'Raw Data Processing',
        'Machine & Deep Learning',
        'Image Processing Techniques'
      ]
    },
    {
      icon: 'icon-camera_icon',
      title: 'Data Visualization',
      list: [
        'Web-based Data Portal',
        'View & Manipulate Data',
        'Engineering Grade Toolbox'
      ]
    },
  ]

+section({ title: 'Our data<br> processing', className: 'processing' })
  .processing__wrapper.wrapper
    - for(let i = 0; i < processingData.length; i++)
      - const item = processingData[i]
        .processing__item
          .processing__item__wrapper
            .processing__item__header(data-same='processing-header' data-animation='fadeDownMini' data-delay=`${i * 500}`)
              .processing__item__icon(class=item.icon)
              .processing__item__title=item.title

            .processing__item__list.list.list_dark(data-same='processing-list' data-animation='fromOpacity' data-delay=`${i * 600}`)
              each i in item.list
                .list__item.processing__item__list-item=i

              