include ./../../../layouts/section.pug

- 
  const lidarSliderData = [
    {
      title: "InfraLytiks created a universal LiDAR data processing algorithm",
    },
    {
      title: 'These algorithms eliminate the need for purchasing & maintaining expensive & custom built drone based LiDAR kits from vendors',
    },
    {
      title: 'Our mobile LiDAR System uses extremely cost-effective off-the-shelf components',
    },
    {
      title: 'The algorithm is fully developed & field tested currently',
    },
  ]

+section({ className: 'decorative-list decorative-list_reverse infravieu__features lidar__slider', color: 'dark' })
  .decorative-list__wrapper.wrapper
    .decorative-list__text
      .decorative-shape(class=`decorative-shape_${shape}`)
        include ./../../../assets/images/shape.svg
      .decorative-list__title.title(data-animation='articleTitleRight') Infralytiks LiDAR Data Processing Algorithm
      ul.decorative-list__list.list(data-animation='articleTitleRight' data-delay='300')
        each item in lidarSliderData
          li.list__item!=item.title

    .decorative-list__image(data-animation='articleTitleLeft')
      .decorative-list__slider#decorative-slider
        each i in [1,2,3,4,5,6,7,8]
          .decorative-list__slider__item
            .decorative-list__slider__decorate
              .decorative-list__slider__decorate__item.item_yellow
              .decorative-list__slider__decorate__item.item_red
              .decorative-list__slider__decorate__item.item_green
              .decorative-list__slider__decorate__item.item_text!=`${i % 2 === 0 ?  'After' : 'Before' } Processing`
            img(src=require(`./assets/images/lidar/${i}.jpg`), alt="") 