mixin section({ nolines, relevantbg, bgcontainer, container, className, title, color, sliderButtons, bg, shape })
  .section(class=`${className} ${color ? `section_${color}` : '' }`)
    .section__bg!=bg

    - if(shape) 
      .decorative-shape(class=`decorative-shape_${shape}`)
        include ./../assets/images/shape.svg
        
    .aside 
      - if (title)
        h7
          span(data-animation='leftTitle')!=title

      - if (sliderButtons)
        .homepage__slider__buttons
          .homepage__slider__button.homepage__slider__button--prev
            include ./../assets/images/btn_right.svg
          .homepage__slider__button.homepage__slider__button--next 
            include ./../assets/images/btn_left.svg


    .section__wrapper(class=`${container ? 'container_'+container : 'container' }`)
      - if (!nolines)
        - if (bgcontainer)
          .bg-container
            div.line
            div.line
            div.line

        - else 
            div.line
            div.line
            div.line

      .section__contnent
        block 